admin/mock
admin/src/e2e
admin/tests
cms/.idea
*/obj
*obj
*bin
cms/CMS.Web/wwwroot/upload
build
cms/.vs/cms/config/applicationhost.config
cms/.vs/cms/DesignTimeBuild/.dtbcache.v2
cms/.vs/cms/v16/.suo
cms/CMS.Web/wwwroot/admin
cms/CMS.Web/Properties/PublishProfiles
cms/CMS.Web/.config
cms/CMS.Web/Views
cms/CMS.Web/wwwroot
CMS.Web.csproj.user
appsettings.json
